<md-sidenav-container class="sidenav-container" style="position: absolute;">
    
    <md-sidenav #sidenav class="sidenav" mode="push">
        
            <div ng-controller="AnchorScrollController" style="text-align: center;">
                <br /><br /><br />
              <a href="#" ng-click="jumpToLocation('About')">
                <img class="img-circle" style="max-width: 80%; max-height: 80%;" src='http://agb.rocks/face-square.jpg' alt="Amanda's face" /></a><br/>
              
                <a href="" ng-click="jumpToLocation('Home')">Home</a><br/>
              <a href="" ng-click="jumpToLocation('About')">About</a><br/>
              <a href="" ng-click="jumpToLocation('Resume')">Resume</a><br/>
              <a href="" ng-click="jumpToLocation('Contact')">Contact</a><br/>
              <a href="" class="toTop" ng-click="upLink()">&#187;</a><br/>
              
            </div>
            
    </md-sidenav>
    <!-- TODO: clean up breaks in CSS -->
        
          <!-- Beginning of site -->
          <div class="sidenav-content">
        
            <!-- Header -->
            <div class="header container">
              <h1 style="text-align: center;" class="full-width">Welcome!</h1>
        
              <p>My name is Amanda Greenberry Brown and I'm a web developer based in Washington, DC. I have never made an Angular application before, but am extremely motivated to do so after hearing that is it the preferred language of Full Measure Education. I don't have a lot of experience in Angular, but I've made this website for you!</p>
              <h4>Resources</h4>
              <p>In the construction of this page, I have used a great many resources.</p>
            </div>
            <hr />
            
            <!-- About -->
            <div class="container" id="About">
              <h1>About</h1>
              <p>This is the content of the second tab!</p>
              <p>
                <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
              </p>
              <p>
                <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
              </p>
              <p>
                <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
              </p>
              <p>
                <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
              </p>
            </div>
        
            <!-- Resume -->
            <div class="container" id="Resume">
              <h1>Resume</h1>
              <ngb-tabset>
                <ngb-tab title="Simple">
                  <ng-template ngbTabContent>
                    <p>This is the content of the first tab!</p>
        
                    <!-- <ngb-alert [dismissible]="false">
                    <strong>Warning!</strong> This is an alert!
                  </ngb-alert> -->
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                  <ng-template ngbTabContent>
                    <p>This is the content of the second tab!</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Disabled" [disabled]="true">
                  <ng-template ngbTabContent>
                    <p>This tab is disabled</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
    
            <hr />
    
    
            <br />
    
    
            <!-- Alerts -->
            <div class="container">
              <ngbd-alert-closeable></ngbd-alert-closeable>
            </div>
            <br />
    
            <!-- Picture Slideshow -->
            <div class="container" id="Pictures">
              <ngbd-carousel-basic></ngbd-carousel-basic>
            </div>
            <br />
    
            <!-- Contact -->
            <div class="container" id="Contact">
              <h1>Contact</h1>
            </div>
            </div>
    
    </md-sidenav-container>
    
    
    <div class="sidenav-alt-main-icon" select="disabled" type="button" md-button (click)="sidenav.toggle()">
      &#9776;
    </div>
    
    <!-- <app-burger2>sdfs</app-burger2> -->