<md-sidenav-container class="sidenav-container" style="position: absolute;" >
    
    <md-sidenav #sidenav class="sidenav" mode="push">
        
            <div ng-controller="AnchorScrollController" style="text-align: center;">
                <br /><br /><br />
              <div>
                  <a href="#"></a>
                  <a href="#" ng-click="jumpToLocation('About')">
                      <img class="img-circle" style="max-width: 80%; max-height: 80%;" src='http://agb.rocks/face-square.jpg' alt="Amanda's face" /></a><br/>
              </div>
              <div class="subnav-links" >
                <a href="" ng-click="jumpToLocation('Home')">Home</a><br/>
              <a href="" ng-click="jumpToLocation('About')">About</a><br/>
              <a href="" ng-click="jumpToLocation('Resume')">Resume</a><br/>
              <a href="" ng-click="jumpToLocation('')">Design</a><br/>
              <a href="" ng-click="jumpToLocation('Contact')">Contact</a><br/>
            </div>
              <a href="" class="toTop" ng-click="jumpToLocation('Home')">&#187;</a><br/>
            
          </div>
            
    </md-sidenav>
    <!-- TODO: clean up breaks in CSS -->
        
          <!-- Beginning of site -->
          <div class="sidenav-content">
        
            <!-- Header -->
            <div class="container"><p class="disclaimer">Heyo!</p></div>
            <div class="header container">
                <h1 style="text-align: center;" class="full-width">Welcome!</h1>
        
              <p>My name is Amanda Greenberry Brown and I'm a web developer based in Washington, DC. I have never made an Angular application before, but am extremely motivated to do so after hearing that is it the preferred language of Full Measure Education. I don't have a lot of experience in Angular, but I've made this website for you!</p> <br />
              <p class="disclaimer">It's definitely a website</p><h3>About This Website</h3> 
              <br />
              <h4>Resources</h4> 
              <p>
                  I have tried and suceeded/failed to use so many resources. The ones that survived were:</p>
                  <ol>
                    <li><a href="https://ng-bootstrap.github.io">ng-boostrap</a></li>
                    <li><a href="https://material.angular.io/">Angular Material</a></li>
                    <li>Classes by <a href="https://www.skillshare.com/user/angular">Grant 'Angular' L</a></li>
                  </ol>
              <p>This project has turned into quite a saga of failure and success. I can't wait to feel comfortable with all of the amazing resources I couldn't get to work, but are clearly <i>awesome</i> and will be extremely useful/visually pleasing.</p><br />
              <p class="disclaimer">Seriously, why would I present this crappy website you wonder?</p>
              <h3>Disclaimer</h3>
              <p>This one-page website is far from perfect. I would relish the opportunity to get to practice some more elegant ways of coding in Angular. But it has been a lot of fun.<br /><br />I have reached the point where I just need to get it sent before it's too late!<br /><br />What I'm trying to convey is:</p>
                <ol>
                  <li>I can learn a new language and do <i>something</i> with it in a week.</li>
                  <li>My design skills exist.</li>
                  <li>I'm very serious about wanting to work for Full Measure!</li>
                </ol>
            </div>
            <hr />
            
            <!-- About -->
            <div class="container" id="About">
                <p class="disclaimer">A bunch of "I-statements".</p>
                <h1>About Me</h1>
              <p>I was born in DC, grew up in MD. From a young age, I was climbing everything that I could (as well as many things that I shouldn't). Into adulthood, this translated into becoming a rock climber where people don't get <i>so</i> mad at you for climbing things. <br /><br />I love learning working and school was a perfect outlet for that. I graduated from UMD a semester early -- not because I was especially smart, but because I loved the challenge.<br /><br />
              I'm an active memeber at Washington Improv Theater (or WIT) as both an improviser and a volunteer. Although it has only been a year, improv has had a huge impact on my life. Just in being able to talk to people it has helped, but also at work when I need to support someone, I am now considerably equipped to do so. </p>
              
              
            </div>
            <hr>
        
            <!-- Resume -->
            <div class="container" id="Resume">
                <p class="disclaimer" select="disable">I like to make things and help people.</p> <br />
                <h1>Resume</h1>
                <br />
              <ngb-tabset>
                <ngb-tab title="Introduction">
                  <ng-template ngbTabContent>
                    <div class="resume-tab">
                        <p>This section can serve as an opportunity to read a little bit more about three central focuses I have within my work experience. It's too much to put on a resume cleanly, but an abridged, pretty version is available <a hreg="http://agb.rocks/Resume.092617.WebDeveloper.pdf">here</a>.</p>
                        <p>Let me know if you have any further questions! You can do so <a href="mailto:green6erry@gmail.com?subject=I have a question about your resume!">here</a>.</p>
                    </div>
                    
                    
                    <!-- <ngb-alert [dismissible]="false">
                    <strong>Warning!</strong> This is an alert!
                  </ngb-alert> -->
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Communications</ng-template>
                    <ng-template ngbTabContent>
                        <br /><p>My experience in communications is possibly my biggest strength. </p>
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel id="toggle-1" title="Bachelors Degree">
                              <ng-template ngbPanelContent>
                                  <h2>Bachelors in Communications from UMD</h2>
                                  <p>My education has become my distinguishing feature in the tech world. I’ve gained awareness of the social dynamics, both in a workplace and the digital world. I’ve learned to foster the highest level of customer service, teamwork practices, and conflict-resolution strategies. 
                                    </p>
                                    <h4>Communications was Great<br /><span class="span-disclaimer">I actually wanted to be an Engineer...</span></h4>
                                    <p>To be entirely honest, I had a GPA of 3.8 and yet I knew from rather on that this would be a degree and not my career. I worked a minimum of 2 extra jobs on top of being a full-time student from sophmore year onwards, including my final semester when I was pursuing 21 course credits. <br /><span class="span-disclaimer">Sleep is for the dead.</span> <br /><br />This experience was an excellent lesson. I have learned that when I'm not stimulated with what I'm doing, I will find something that will. In college, that meant being a workaholic. Nowadays, it means being a workaholic (albeit one that sleeps more). I like to work, and for me that means needing to perform a balancing-act; needing to be pulled in different directions. </p>
                                    
                                  <br /><br />
                                <p><span ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title"  class="bar-label">Intellectual</span>
                                    <ngb-progressbar  type="success" [value]="50"></ngb-progressbar>
                                  </p>
                                  <p><span class="bar-label">Active</span>
                                    <ngb-progressbar type="info" [value]="100"></ngb-progressbar>
                                  </p>
                                  <p><span class="bar-label">Growth</span>
                                    <ngb-progressbar type="warning" [value]="95"></ngb-progressbar>
                                  </p>
                                  <p><span class="bar-label">Love</span>
                                    <ngb-progressbar type="danger" [value]="75"></ngb-progressbar>
                                  </p>
                              </ng-template>
                            </ngb-panel>
                      </ngb-accordion>
                      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                          <ngb-panel id="toggle-2" title="Retail">
                            <ng-template ngbPanelContent>
                                <h2>Retail</h2>
                                <h5>Certifications</h5>
                                <ul>
                                  <li>• JAMF CCT</li>
                                  <li>• JAMF CCA</li>
                                  <li>• JAMF CJA</li>
                                  <li>• Apple Consultant</li>
                                  
                                </ul><br /><br />
                              <p><span class="bar-label">Intellectual</span>
                                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Active</span>
                                  <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Growth</span>
                                  <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Love</span>
                                  <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                                </p>
                            </ng-template>
                          </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <ngb-panel id="toggle-3" title="Earth Treks">
                          <ng-template ngbPanelContent>
                              <h2>Earth Treks</h2>
                              <h5>Certifications</h5>
                              <ul>
                                <li>• JAMF CCT</li>
                                <li>• JAMF CCA</li>
                                <li>• JAMF CJA</li>
                                <li>• Apple Consultant</li>
                                
                              </ul><br /><br />
                            <p><span class="bar-label">Intellectual</span>
                                <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                              </p>
                              <p><span class="bar-label">Active</span>
                                <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                              </p>
                              <p><span class="bar-label">Growth</span>
                                <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                              </p>
                              <p><span class="bar-label">Love</span>
                                <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                              </p>
                          </ng-template>
                        </ngb-panel>
                  </ngb-accordion>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Technology</ng-template>
                    <ng-template ngbTabContent><br />
                      <p>Technology is what makes me happiest. My mom ran a company called "Computertots" when I was young. From that day on, I've had nightmares about the witch in one of the games sneaking through the window like she did in the game. I might've been a little too young when I learned MS-DOS<br /><br />
                      Nowadays, I have a love/hate relationship with the Console Log! Making this application this week has been a ton of fun.  </p>
                      
                      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                          <ngb-panel id="toggle-1" title="Sugarloaf Network Solutions">
                            <ng-template ngbPanelContent>
                                <h2>Sugarloaf Network Solutions</h2>
                                <p>I climbed radio towers and would install/replace radio equipment</p>
                                <img style="float: right;padding-left: 2%;" src="http://agb.rocks/imonatower.jpg" alt="AGB on a tower" /><br /><br />
                              <p><span class="bar-label">Intellectual</span>
                                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Active</span>
                                  <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Growth</span>
                                  <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Love</span>
                                  <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                                </p>
                            </ng-template>
                          </ngb-panel>
                          </ngb-accordion>

                          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                              <ngb-panel id="toggle-2" title="Blackstone Technology">
                                <ng-template ngbPanelContent>
                                    <h2>Blackstone Technology</h2>
                                    <h5>Certifications</h5>
                                    <ul>
                                        <li>• MIx Developer</li>
                                    </ul><br /><br />
                                  <p><span class="bar-label">Intellectual</span>
                                      <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                    </p>
                                    <p><span class="bar-label">Active</span>
                                      <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                                    </p>
                                    <p><span class="bar-label">Growth</span>
                                      <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                                    </p>
                                    <p><span class="bar-label">Love</span>
                                      <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                                    </p>
                                </ng-template>
                              </ngb-panel>
                              </ngb-accordion>

                              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                  <ngb-panel id="toggle-3" title="Alectrona">
                                    <ng-template ngbPanelContent>
                                        <h2>Alectrona</h2>
                                        <h5>Certifications</h5>
                                        <ul>
                                          <li>• JAMF CCT</li>
                                          <li>• JAMF CCA</li>
                                          <li>• JAMF CJA</li>
                                          <li>• Apple Consultant</li>
                                          
                                        </ul><br /><br />
                                      <p><span class="bar-label">Intellectual</span>
                                          <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                        </p>
                                        <p><span class="bar-label">Active</span>
                                          <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                                        </p>
                                        <p><span class="bar-label">Growth</span>
                                          <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                                        </p>
                                        <p><span class="bar-label">Love</span>
                                          <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                                        </p>
                                    </ng-template>
                                  </ngb-panel>
                            </ngb-accordion>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Design</ng-template>
                    <ng-template ngbTabContent><br />
                      <p>Design has been in my background for as long as I can remember.</p>
                      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                          <ngb-panel id="toggle-1" title="AGB Design">
                            <ng-template ngbPanelContent>
                                <h2>AGB Design</h2>
                                <h5>Certifications</h5>
                                <ul>
                                  <li>• JAMF CCT</li>
                                  <li>• JAMF CCA</li>
                                  <li>• JAMF CJA</li>
                                  <li>• Apple Consultant</li>
                                  
                                </ul><br /><br />
                              <p><span class="bar-label">Intellectual</span>
                                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Active</span>
                                  <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Growth</span>
                                  <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Love</span>
                                  <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                                </p>
                            </ng-template>
                          </ngb-panel>
                    </ngb-accordion>
                      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                          <ngb-panel id="toggle-2" title="Earth Treks">
                            <ng-template ngbPanelContent>
                                <h2>Earth Treks</h2>
                                <h5>Certifications</h5>
                                <ul>
                                  <li>• JAMF CCT</li>
                                  <li>• JAMF CCA</li>
                                  <li>• JAMF CJA</li>
                                  <li>• Apple Consultant</li>
                                  
                                </ul><br /><br />
                              <p><span class="bar-label">Intellectual</span>
                                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Active</span>
                                  <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Growth</span>
                                  <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                                </p>
                                <p><span class="bar-label">Love</span>
                                  <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                                </p>
                            </ng-template>
                          </ngb-panel>
                    </ngb-accordion>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <ngb-panel id="toggle-3" title="General Influence">
                          <ng-template ngbPanelContent>
                              <h2>General Influence</h2>
                              <h5>Certifications</h5>
                              <ul>
                                <li>• JAMF CCT</li>
                                <li>• JAMF CCA</li>
                                <li>• JAMF CJA</li>
                                <li>• Apple Consultant</li>
                                
                              </ul><br /><br />
                            <p><span class="bar-label">Intellectual</span>
                                <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                              </p>
                              <p><span class="bar-label">Active</span>
                                <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                              </p>
                              <p><span class="bar-label">Growth</span>
                                <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                              </p>
                              <p><span class="bar-label">Love</span>
                                <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                              </p>
                          </ng-template>
                        </ngb-panel>
                  </ngb-accordion>
                    </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
    
            <hr />
    
    
            <br />
    
    
            <!-- Alerts -->
            <!-- <div class="container">
              <ngbd-alert-closeable></ngbd-alert-closeable>
            </div>
            <br /> -->
    
            <!-- Picture Slideshow -->
            
            <div class="container" id="Design">
                <p class="disclaimer">Sorry the formatting is crap.</p>
                <h1>Design Examples</h1><sub>(You can view more <a href="http://agb.rocks/apps.html">here)</a>.</sub><br /><br />
              <ngbd-carousel-basic></ngbd-carousel-basic>
            </div>
            <br />
    <hr>
            <!-- Contact -->
            <div class="container" id="Contact">
                <p class="disclaimer">I would be so excited.</p>
              <h1>Contact</h1>
              <p>You can email me <a href="mailto:green6erry@gmail.com?subject=Contact from your website">here</a> should you feel inclined to speak further. <br />
                You can also check out my website at http://agb.rocks/. <br /><br /><sub>(The "rocks" ending is in reference to my time as a rock climber and less to say "I think I'm amazing". But hopefully I'm okay!)</sub><br />
                <br />Thanks for looking at my website and I hope to speak soon!</p><br /><p class="disclaimer">Cheers!</p>
            </div>
            </div>
    
    </md-sidenav-container>
    
    
    <div class="sidenav-alt-main-icon" user-select="none" type="button" md-button (click)="sidenav.toggle()">
      &#9776;
    </div>
    
    <!-- <app-burger2>sdfs</app-burger2> -->